<h1>New Peer Evaluation</h1>

<% if defined?(current_team(current_member)).nil? %>
    <%= render 'form' %>
<% else %>
    <p>You cannot submit an evaluation unless you are a part of a team. Please contact your instructor for further details.</p>
<% end %>

<%= link_to 'Back', evaluations_path %>
