<h1>Welcome, <%= current_member.first %> <%= current_member.last %>, to the student section!</h1>
<p>You can check out assignments, submit evaluations of your team members, and show evaluations you've already submitted, as well as edit them if you'd like.</p>
