<h1>Welcome, <%= current_member.first %> <%= current_member.last %>, to the administration section!</h1>
<p>Here, you can view your student list, view, create and update teams, view submitted evaluations, and view, create and update assignments.</p>
